*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa0a0;
}

/*? CARD SETTINGS */
.card {
    display: inline-block;
    height: 120px;
    width: 90px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
}

#botclone, #userclone {
    display: none;
}

h2 {
    color: red;
    text-align: center;
}

#main-game {
    display: flex;
    width: 40%;
    margin: auto;
}

.circle {
    background-color: white;
    border-radius: 45px 25px;
}

button > .circle {
    position: relative;
    transform: rotate(-5deg);
    height: 65%;
    width: 95%;
}

div > .circle {
    position: relative;
    top: 22px;
    left: 4px;
    height: 60%;
    width: 90%;
    transform: rotate(-25deg);
}

span {
    font-size: 30px;
    position: relative;
    top: 17px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hand {
    max-height: 360px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#usercards {
    position: relative;
    top: 350px;
    text-align: center;
}
